<!DOCTYPE html>
<html>
    <head>
        <title>Check Out</title>
    </head>
    <body style="text-align: center;">
        <h1>INNOVACER</h1>
        <h3 style="font-size: 25px;">Thanks {{docs.visitorName}} for the meeting.</h3>
        <p style="font-size: 19px;">You will get an email soon regarding the meeting details.</p>
    </body>
</html>